@model IEnumerable<Midproject.Models.En.Usermoney>

@{
    ViewBag.Title = "Index";
}

<h2>total money comes from User</h2>
<div>
    @Session["totalmoney"];
</div>
<br /><br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            
        </tr>
    }
    
    </table>
    <div>
        you you want to back
        <a class="btn btn-primary" href="/Adminfro/Index">go back</a>
    </div>